html,
body {
  margin: 0;
  padding: 0;
  background: #232931;
  font-family: "Poppins", sans-serif;
}
html header,
html main,
html footer,
body header,
body main,
body footer {
  display: flex;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
html header > div,
html main > div,
html footer > div,
body header > div,
body main > div,
body footer > div {
  flex: 1;
  max-width: 650px;
}
html header,
body header {
  height: 70px;
  background: #393e46;
  border-bottom: 1px solid #4ecca3;
}
html header > div,
body header > div {
  height: 50px;
}
html header .logo-container,
body header .logo-container {
  display: flex;
}
html header .logo-container > img,
body header .logo-container > img {
  height: 100%;
}
html header .logo-container h3,
body header .logo-container h3 {
  font-size: 18pt;
}
html header .current-user,
body header .current-user {
  display: flex;
  width: 75px;
  justify-content: flex-end;
  align-items: center;
}
html header .current-user > img,
body header .current-user > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0 10px;
}
html header .current-user p,
body header .current-user p {
  margin: 0;
  color: #ffffff;
  font-size: 22pt;
}
html main,
body main {
  height: 100%;
  align-items: flex-start;
}
html main .matches-container.matches-live,
body main .matches-container.matches-live {
  margin-right: 9px;
}
html main .matches-container.matches-recent,
body main .matches-container.matches-recent {
  margin-left: 9px;
}
html main .matches-container h1,
body main .matches-container h1 {
  color: #ffffff;
  font-size: 22pt;
  font-weight: 400;
}
html main .matches-container hr,
body main .matches-container hr {
  display: block;
  border-color: #4ecca3;
}
html main .matches-container .match-container,
body main .matches-container .match-container {
  display: flex;
  margin: 10px 0;
  padding: 5px;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  background-color: #393e46;
  border-radius: 10px;
}
html main .matches-container .match-container > div,
body main .matches-container .match-container > div {
  flex: 1;
  max-width: 33%;
}
html main .matches-container .match-container .team-red .svg-filler,
body main .matches-container .match-container .team-red .svg-filler {
  filter: invert(48%) sepia(38%) saturate(3757%) hue-rotate(331deg) brightness(102%) contrast(88%);
}
html main .matches-container .match-container .team-red p,
body main .matches-container .match-container .team-red p {
  color: #ef5753;
}
html main .matches-container .match-container .team-blue .svg-filler,
body main .matches-container .match-container .team-blue .svg-filler {
  filter: invert(68%) sepia(17%) saturate(1479%) hue-rotate(174deg) brightness(97%) contrast(90%);
}
html main .matches-container .match-container .team-blue p,
body main .matches-container .match-container .team-blue p {
  color: #6cb2eb;
}
html main .matches-container .match-container .players-container,
body main .matches-container .match-container .players-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html main .matches-container .match-container .players-container .player-top,
body main .matches-container .match-container .players-container .player-top {
  align-self: flex-start;
}
html main .matches-container .match-container .players-container .player-bottom,
body main .matches-container .match-container .players-container .player-bottom {
  align-items: flex-end;
}
html main .matches-container .match-container .players-container .player-container,
body main .matches-container .match-container .players-container .player-container {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
}
html main .matches-container .match-container .players-container .player-container .image-container,
body main .matches-container .match-container .players-container .player-container .image-container {
  display: flex;
  align-self: center;
  justify-self: center;
}
html main .matches-container .match-container .players-container .player-container img,
body main .matches-container .match-container .players-container .player-container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
html main .matches-container .match-container .players-container .player-container img[data-person=Chris],
body main .matches-container .match-container .players-container .player-container img[data-person=Chris] {
  object-position: center;
}
html main .matches-container .match-container .players-container .player-container .player-content,
body main .matches-container .match-container .players-container .player-container .player-content {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
html main .matches-container .match-container .players-container .player-container .player-content > p,
body main .matches-container .match-container .players-container .player-container .player-content > p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 0.9;
}
html main .matches-container .match-container .players-container .player-container .player-content div,
body main .matches-container .match-container .players-container .player-container .player-content div {
  display: flex;
  align-items: center;
}
html main .matches-container .match-container .players-container .player-container .player-content div img,
body main .matches-container .match-container .players-container .player-container .player-content div img {
  height: 12px;
  width: 12px;
}
html main .matches-container .match-container .players-container .player-container .player-content div p,
body main .matches-container .match-container .players-container .player-container .player-content div p {
  margin: 0;
  padding: 0 0 0 2px;
  font-size: 10px;
}
html main .matches-container .match-container .players-right .player-container,
body main .matches-container .match-container .players-right .player-container {
  justify-content: flex-end;
}
html main .matches-container .match-container .players-right .player-container .player-content,
body main .matches-container .match-container .players-right .player-container .player-content {
  text-align: right;
}
html main .matches-container .match-container .players-right .player-container .player-content > div,
body main .matches-container .match-container .players-right .player-container .player-content > div {
  justify-content: flex-end;
}
html main .matches-container .match-container .players-right .image-container,
body main .matches-container .match-container .players-right .image-container {
  order: 2;
}
html main .matches-container .match-container .info,
body main .matches-container .match-container .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html main .matches-container .match-container .info p,
body main .matches-container .match-container .info p {
  margin: 0;
}
html main .matches-container .match-container .info .live,
body main .matches-container .match-container .info .live {
  display: flex;
  width: 40px;
  border: 1px solid #ef5753;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
html main .matches-container .match-container .info .live > span,
body main .matches-container .match-container .info .live > span {
  height: 4px;
  width: 4px;
  background-color: #ef5753;
  border-radius: 50%;
}
html main .matches-container .match-container .info .live > p,
body main .matches-container .match-container .info .live > p {
  color: #ef5753;
  font-size: 10pt;
  font-family: "Poppins", SemiBold;
}
html main .matches-container .match-container .info .score,
body main .matches-container .match-container .info .score {
  display: flex;
  width: 100%;
  justify-content: center;
}
html main .matches-container .match-container .info .score .score-number,
body main .matches-container .match-container .info .score .score-number {
  font-family: "Open Sans", sans-serif;
  font-size: 36pt;
}
html main .matches-container .match-container .info .score .vertical,
body main .matches-container .match-container .info .score .vertical {
  height: 40px;
  width: 1px;
  margin: 0 25px;
  background-color: #4ecca3;
  align-self: center;
}
html main .matches-container .match-container .info .time p,
body main .matches-container .match-container .info .time p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
}
html footer,
body footer {
  left: 0;
  bottom: 0;
  height: 100px;
}
html footer .button-container,
body footer .button-container {
  text-align: right;
}
html footer .button-container button,
body footer .button-container button {
  padding: 0 30px;
  color: white;
  background-color: #4ecca3;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
}
html footer .button-container button::before,
body footer .button-container button::before {
  content: "+";
  padding-right: 20px;
}
html img:not(.svg-filler),
body img:not(.svg-filler) {
  object-fit: cover;
  object-position: top;
}

@media only screen and (max-width: 600px) {
  html header,
html main,
html footer,
body header,
body main,
body footer {
    padding: 0 18px;
  }
  html header div,
html main div,
html footer div,
body header div,
body main div,
body footer div {
    max-width: 600px;
  }
  html header,
body header {
    height: 40px;
  }
  html header > div,
body header > div {
    height: 25px;
  }
  html header .current-user > img,
body header .current-user > img {
    height: 20px;
    width: 20px;
  }
  html header .current-user p,
body header .current-user p {
    font-size: 18px;
  }
  html main,
body main {
    display: block;
  }
  html main .matches-container.matches-live, html main .matches-container.matches-recent,
body main .matches-container.matches-live,
body main .matches-container.matches-recent {
    margin: 0;
  }
  html main .matches-container h1,
body main .matches-container h1 {
    font-size: 20pt;
  }
  html main .matches-container .match-container .info .score .score-number,
body main .matches-container .match-container .info .score .score-number {
    font-size: 36pt;
  }
  html main .matches-container .match-container .info .score .vertical,
body main .matches-container .match-container .info .score .vertical {
    margin: 0 18px;
  }
  html footer button,
body footer button {
    position: fixed;
    left: 50%;
    bottom: 20px;
    height: 40px;
    width: calc(100% - 18px * 2);
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
